<%- include('../partials/head.ejs') %>

<body>
  <%- include('../partials/header.ejs') %>
  <nav>
    <%- include('../partials/navbar') %>
	</nav>
	<main>
    <%- include('../partials/edit.ejs') %>
    <form method="post" action="/update-book/<%= book_app.id %>?_method=put">
      
      <button type="submit">Update</button>
    </form>
  </main>
	<%- include('../partials/footer.ejs') %>