
<%- include('../partials/head.ejs') %>

<body>
  <%- include('../partials/header.ejs') %>
  <nav>
    <%- include('../partials/navbar') %>
  </nav>

  <main>

    <% books.forEach( book => { %>
    <div class="container">
      <div class="title">
        <%= book.title %>
      </div> 
      <img src=<%= book.img %> alt=""> 
      <h3 class="author">
       By:<%= book.author %>
      </h3>
      <p class="desc">
        <%= book.desc %>
      </p>
      <p class="isbn">
        <%= book.isbn %>
      </p>
      <p class="amount">
        $<%= book.amount %>
      </p>
    </div>
      <% })  %>

  </main>
  <%- include('../partials/footer.ejs') %>


</body>
</html>