<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Searched Books
  </title>

  <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    Book Results
  </header>
  <body>
    <% books.forEach( book => { %>
    <div class="container">
      <div class="title">
        <%= book.title %>
      </div> 
      <img src=<%= book.img %> alt=""> 
      <h3 class="author">
       By:<%= book.author %>
      </h3>
      <p class="desc">
        <%= book.desc %>
      </p>
      <p class="isbn">
        <%= book.isbn %>
      </p>
      <p class="amount">
        $<%= book.amount %>
      </p>
    </div>
      <% })  %>
  </body>
  <footer>

  </footer>
  <script src="/js/app.js"></script>
</body>
</html>